
.Contenedor {
    width: 100vw;
    height: 100vh;
}
.Cabecera {
    float: left;
    width: 100vw;
    height: 20vh;
    text-align: center;
    background-image: url('./cabecera-espacio-y-tecnología-5365641.webp');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}
.Menu {
    background-color: #887d7d;
    width: 15vw;
    float: left;
    text-align: center;
    height: 25vh;
    font-size: 1.2vw;
    
}
.Contenido {
    background-color: #e4e4e4;
    width: 85vw;
    float: left;
    text-align: left;
    height: 60vh;
}
.Pie {
    clear: both;
    background-color: #c4c4c4;
    text-align: center;
}